<html>
<head>

<script type="text/javascript">
tday=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday");
tmonth=new Array("January","February","March","April","May","June","July","August","September","October","November","December");

function GetClock(){
var d=new Date();
var nday=d.getDay(),nmonth=d.getMonth(),ndate=d.getDate(),nyear=d.getFullYear();
var nhour=d.getHours(),nmin=d.getMinutes(),ap;
if(nhour==0){ap=" AM";nhour=12;}
else if(nhour<12){ap=" AM";}
else if(nhour==12){ap=" PM";}
else if(nhour>12){ap=" PM";nhour-=12;}

if(nmin<=9) nmin="0"+nmin;

document.getElementById('clockbox').innerHTML=""+tday[nday]+", "+tmonth[nmonth]+" "+ndate+", "+nyear+" "+nhour+":"+nmin+ap+"";
}

window.onload=function(){
GetClock();
setInterval(GetClock,1000);
}
</script>
<div id="clockbox"></div>

</head>
<body>
<form action="/post" method="POST">
	<h1>Welcome {{username}}</h1> 
	<h3>Birthday Reminder（{{count}}）: {{name}}</h3> 
	<h4>{{birthday}}</h4>


	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = Post />
</form>


<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Time</th>
	<th>username</th>>
	<th>file_path</th>
	<th>post</th>

{% for line in posts %}
	<tr>
		<td>{{line.timest}}</td>
		<td>{{line.username}}</td>
		<td>{{line.file_path}}</td>
		<td>{{line.content_name}}</td>
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>
</html>
